.main-section {
  display: flex;
  justify-content: center;
  height: 86vh;
  width: 100vw;
  background-color: #f5f5ef;

  &-container {
    margin-top: 4vh;
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 2%;
    overflow: hidden;
  }

  &__wrapper {
    width: 100%;
    height: 95%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    position: relative;
  }

  &__header-novisit {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #6BB961;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    border-radius: 10px;
    background: #E3F3E1;
    width: 240px;
    height: 170px;
    max-height: 200px;
    overflow-y: hidden;
  }

  &__urgency {
    background-color: #FF8A98;
    width: 40px;
    height: 18px;
    border-radius: 26px;
  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  &__card-text-container {
    padding: 0 15px;
  }

  &__card-name-doctor {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #307570;
    text-align: start;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    word-wrap: break-word;

    &::before {
      content: "";
      min-width: 100px;
      height: 1px;
      width: 200px;
      max-width: 208px;
      background-color: white;
      position: absolute;
      top: 78%;
    }
  }

  &__card-name-patient {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #307570;
    text-align: start;
    margin: 0;
    padding-bottom: 12px;
    word-wrap: break-word;
    padding-top: 4%;
  }

  &__svg-container {
    display: flex;
    max-width: 75px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

   &__cards-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
     column-gap: 20px;
     row-gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    scroll-behavior: smooth;
    height: 85%;
     width: 100%;
     & {
       overflow: auto;
       -ms-overflow-style: none;
       scrollbar-width: none;
     }

     &::-webkit-scrollbar {
       width: 0;
       height: 0;
     }
  }
  &__header-novisit {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  &__see-all-inf-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6BB961;
  }
  &__see-all-inf-span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #307570;
  }
  &__see_all-info-header-text {
    font-family: 'Montserrat', sans-serif;
    color: #6BB961;
    text-decoration: underline;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__new-visit {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.col_paragraph{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6BB961;
}
.col {
  margin-top: 20px;
}

.form-group {
  margin-top: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

textarea {
  resize: none
}

.form-control {
  border-color: #6BB961;
}

.form-control::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #6BB961;
}

label {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #6BB961;
  margin-bottom: 10px;
}

select option {
  color: white;
  background-color: black;
  font-size: 20px;
}

.information_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}


@media (min-width: 320px) and (max-width: 545px) {
  .main-section {
    &-container{
      height: 100vh;
      margin: 0;
    }
    &__header-novisit {
      left: 35%;
    }
    &__cards-container{
      justify-content: center;
      padding-top: 0;
    }
    &__see_all-info-header-text{
      font-size: 16px;
    }
    &__button-container{
      flex-wrap: wrap;
      justify-content: space-around;
    }

  }
  .edit-visit-header{
    font-size: 15px;
  }
  .form-label{
    font-size: 15px;
  }

}

@media (min-width: 546px) and (max-width: 575px) {
  .main-section {
    &-container{
      height: 100vh;
      margin: 0;
    }
    &__header-novisit {
      left: 41%;
    }
    &__cards-container{
      justify-content: center;
      padding-top: 0;
    }
    &__button-container{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
@media (min-width: 576px) and (max-width: 766px) {
  .main-section {
    &__button-container{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media (min-width: 767px) and (max-width: 1000px) {
  .main-section {
    &__cards-container{
    padding-top: 20px;
      height: 81%;
    }
    &__card{
      width: 212px;
    }
    &__button-container{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  .main-section {
    &__cards-container{
      height: 80%;
    }
    &__card{
      width: 288px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .main-section {
    &__cards-container{
      height: 80%;
    }
    &__card{
      width: 253px;
    }
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .main-section {
    &__cards-container{
      height: 80%;
    }
    &__card{
      width: 239px;
    }
  }
}



