.header {
  &__text {
    @include text300;
    color: $main-color;
  }

  &__text::before {
    content: '';
    height: 62px;
    width: 1px;
    position: absolute;
    left: -26px;
    top: -20px;
    background-color: $main-color;
  }
  &__btns{
    right: 28px;
  }
  &__btn-login,
  &__btn-create,
  &__btn-exit {
    @include header-btn;
  }
}

.modal-login {
   z-index: 100;
  &__text {
    @include text700;
    color: $main-color;
  }
  &__label {
    color: $main-color;
  }
  &____input {
    border: 2px;
    border-color: $main-color;
  }
  &__btn-done {
    @include header-btn;
  }
  &__btn-close {
    @include header-btn;
  }
}
